.mainCon {
    background: no-repeat;
    background-size: cover;
    height: 100vh;
}


.innerDiv h1{
    
}
@media (min-width: 640) {
    .InnerDiv {
        float: right;
        width: 40%;
        position: relative;
        top: 30%;
    }
}